@font-face {
    font-family: Montserrat;
    src: url("../fonts/montserrat/Montserrat-Regular.otf");
    font-family: raleway;
    src: url("../fonts/raleway/Raleway-VariableFont_wght.ttf");
  }
  
  * {
    font-family: raleway;
    text-align: justify;
    margin: 5px;
  }
  
  fieldset {
    margin: 10px;
    border-radius: 10px;
    text-align: center;
  }
  
  .fieldset_index {
    margin: 1vw;
    border-radius: 10px;
    width: 92vw;
    height: 10vw;
  }
  
  div {
    margin: 5px;
  }
  
  .logo_inicial {
    text-align: center;
    filter: drop-shadow(2px 2px 2px gray);
  }
  
  #menu_up ul {
    display: flex;
    list-style: none;
    margin: 1%;
    justify-content: center;
    align-items: center;
    padding: 0vw;
    gap: 10vw;
  }
  
  #menu_up li a {
    text-decoration: none;
  }
  
  #menu_up li a:hover {
    color: #34acdc;
  }
  
  #convert_options li {
    display: inline-flex;
    list-style: none;
    background-color: #34acdc;
    color: white;
    text-decoration: none;
    padding: 1vw 5.5vw;
    margin: 3vw;
    border-radius: 1vw;
    width: auto;
    height: auto;
  }
  
  #convert_options li a:hover {
    color: white;
  }


  